---
title: Daftar File
---

<h1>Daftar File</h1>

<ul>
  {% for p in site.pages %}
    {% if p.path contains 'tes-kemampuan-akademis/' and p.name != 'index.html' %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% for f in site.static_files %}
    {% if f.path contains '/tes-kemampuan-akademis/' and f.name != 'index.html' %}
      <li>
        <a href="{{ f.path | relative_url }}">{{ f.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>